In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6 


Sol. Values are 'hello' , -87.8 , 6
     Expressions are * , - , / , +

2. What is the difference between string and variable?


Sol. String are the values ,character or group of characters in python enclosed within a single quotes '' or double quotes " ". Even triple quote '''  ''' is used to represent multiline strings.

     Variables acts as a container in which a value is stored.Value can be of any type like string, float,int,etc.
     
     For eg. iNeuron is a string value which is stored in a variable or a container (in simple terms) which is n.

In [2]:
n = "iNeuron" 
print (n)

iNeuron

3. Describe three different data types.

Sol. Three different data types are :-

a) Integer - It contains numeric values in it. For eg : 87 ,4654 
b) Float - It contains decimal or floating point integers in it. For eg : 78.465 , 45.540
c) Complex - It contains real and imaginary value of integers in it. For eg. 78+5j , 53+48i

In [7]:
integer = 454
print (integer , type (integer))

float = 79.564
print( float , type (float))

complex = 12+5j
print( complex , type(complex))

454 <class 'int'>
79.564 <class 'float'>
(12+5j) <class 'complex'>

In [ ]:
4. What is an expression made up of? What do all expressions do?

Sol. Expression is made up of all the values , variables , operators and calls to the function. It needs to be evaluated for getting 
an output. Expression is evaluated according to the precedence of given operators. For eg: 45+5-10*9 will give you output as -40.
    

Expressions is something which when written , directly gives you the output.Like , giving input as 5+4 , will give you output as
9 whereas if you give the input a = 5+4 , you wont get direct output as your print statement is missing. So, expression is something
which can be reduced to a value.

In [15]:
45+5-10*9

-40

In [8]:
5+4

9

In [9]:
a = 5+4

In [10]:
print(a)

9

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Sol. Expression is made up of all the values , variables , operators and calls to the function. It needs to be evaluated for getting 
an output. Expression is evaluated according to the precedence of given operators. For eg: 45+9-7 will give you output as 47 .
    

spam = 10 ; Here, = is the assignment operator which tells us that spam is assigned value 10 , so when we call spam ,
we will get output 10.

A statement is an instruction that a Python interpreter can execute.So, in simple words, we can say anything written in Python
is a statement.A Statement is a action or a command that does something.spam = 10 ; Here, print(spam) will give you output as 
10. There are mainly four types of statement that Python will interprete; Print statement , Conditional statement , Assignment
statement and Looping statement.

In [16]:
spam = 10

In [18]:
spam

10

In [19]:
print(spam) #It is print statement.

10

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1


Sol. bacon has not being assigned the value again , so when its called bacon will contain 22. But, after writting above code , 
if new value is assigned to bacon , it would give us output 23.

In [39]:
bacon = 22

In [40]:
bacon + 1 #here, its just calculating the expression and giving us 23.

23

In [42]:
print(bacon)  # but when bacon is called we get value as 22 because new vale has not being assigned.

22

In [43]:
bacon = bacon +1 #This expressions assigns the value to bacon, so we get output as 23.

In [44]:
print(bacon)

23

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

Sol. First line of code performs concatentation of tge strings and second line performs the multiplication of the strings.
Therefore, output for the expressions is same , i.e., spamspamspam.

In [45]:
print('spam' + 'spamspam')

spamspamspam

In [46]:
print('spam' * 3)

spamspamspam

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

Sol. As per python , variable names cannot begin with a number. So , when eggs = 100 is written , it assigns value 100 to the
variable eggs , which is correct. But, if we write 100 = 'eggs' , it gives us a error stating that we cant assign value to an
integer.


Rules for Python variables:

1)A variable name must start with a letter or the underscore character .
2)A variable name cannot start with a number.
3)A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4)Variable names are case-sensitive (nancy, Nancy and NANCY are three different variables)
5)Reserved keywords can not be used as variable name.

In [55]:
eggs = 100 #valid variable declaration

In [56]:
print(eggs)

100

In [57]:
100 = 'eggs' # invalid variable declaration

SyntaxError: cannot assign to literal (2964487344.py, line 1)

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Sol.The three functions are int() , float() and str() which can be used to get integer , floating point number or a string version of
a value respectively.

In [77]:
a = 11.548
print (int(a))
print (type(a))

11
<class 'float'>

In [83]:
b = 564.45
print (b)
print (type(b))

564.45
<class 'float'>

In [80]:
c= "How are you"
print(c)
print(type(c))

How are you
<class 'str'>

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Sol. This expression causes an error because python doesnt allow concatenation of a string with an integer.
We can fix it by converting, also known as typecasting 99 also into a string datatype and write it like '99'

In [85]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [86]:
#So, now if run the below code:

'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [ ]:
Here, we wont get any error as we perform concatenation of string with a string.